.letter {
	margin-top: 10px;
	margin-left: 20px;
}

#instruction {
	margin-left: 20px;
}

#word {
	position: absolute;
	top:150px;
	left:310px;
	font-size:80px;
	font-family: "Courier"
}

#canvas {
	position: absolute;
	font-size: 110px;
	top:130px;
	left:310px;
}